<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="/css/custom.css" type="text/css" />
	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">

	<!-- Document Title
	============================================= -->
	<title>About Us | Canvas</title>


    <script>
      function initMap() {
        var uluru = {lat: 35.887694, lng: 128.611648};
        var map = new google.maps.Map(document.getElementById('google-map'), {
          zoom: 17,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKCZzr3DfzgWIWp9lQlGrQRetXVuoOy8k&callback=initMap">
    </script>
		<script Language="JavaScript">
		<!--
		var mess=new Array();  //메세지 순서대로 입력

		// mess="당신과 지나는 미로.";
		// mess[1]="당신과 지나는 美路.";
    //
		// var count=0;
		// var newsno=0;
    //
		// function startnews()
		// {
		//         document.getElementById("txtNews").innerText=mess.substring(0,count++);
		//         setTimeout("startnews()",300);  // 속도
		// }
		// function reduce()
		// {
		// 	if(count>=mess.length)
		// 	{
		// 		 document.getElementById("txtNews").innerText=mess.substring(0,3);
    //
    //
    //
    //
    //
    //
		// 	}
		// 	 setTimeout("startnews()",300);
		// }
		mess[0]="당신과 지나는 미로.";
		mess[1]="당신과 지나는 미";
		mess[2]="당신과 지나는 ";
		mess[3]="당신과 지나는 '美路'.";
    // var mess = new Array("당신과 지나는 미로.", "당신과 지나는 미", "당신과 지나는", "당신과 지나는 '美路'." ); 과 동일 함
		var count=0;
		var count2=0;
		var count3=0;
		// var a = "ㅣ"

		// var twinkle = new Array("ㅣ", "", "ㅣ", "","ㅣ", "", "ㅣ", "", "ㅣ", "", "ㅣ", "", "ㅣ", "", "ㅣ", "","ㅣ", "", "ㅣ", "", "ㅣ")
    // + twinkle[count3++].substring(0,1) ;

		function startnews()
		{
		        document.getElementById("txtNews").innerText=mess[count2].substring(0,count++);

						if(count>=mess[count2].length)
		        {
		                count= mess[count2].length;
		                count2++;



		        }



		        setTimeout("startnews()",400);  // 속도
		}



		</Script>

			<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
			<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
			<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
			<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">


			<!-- Document Title
			============================================= -->
			<title>Premium Magazine - Revolution Slider | Canvas</title>

			<style>

				.demos-filter {
					margin: 0;
					text-align: right;
				}

				.demos-filter li {
					list-style: none;
					margin: 10px 0px;
				}

				.demos-filter li a {
					display: block;
					border: 0;
					text-transform: uppercase;
					letter-spacing: 1px;
					color: #444;
				}

				.demos-filter li a:hover,
				.demos-filter li.activeFilter a { color: #1ABC9C; }

				@media (max-width: 991px) {
					.demos-filter { text-align: center; }

					.demos-filter li {
						float: left;
						width: 33.3%;
						padding: 0 20px;
					}
				}

				@media (max-width: 767px) {
					.demos-filter li { width: 50%; }
				}

				.tp-largeshadow {
					-webkit-box-shadow:0px 30px 50px 0px rgba(50,50,50,0.25);
					-moz-box-shadow:0px 30px 50px 0px rgba(50,50,50,0.25);
					box-shadow:0px 30px 50px 0px rgba(50,50,50,0.25);
				}
			</style>

	</head>



		<body class="stretched" onLoad="startnews()">





		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-mini">

			<div class="container clearfix">
				<h1>Aplly </h1>
				<span>Everything you need to know about our Company</span>
				<ol class="breadcrumb">
					<img src="/images/miro-logo_hor.png" style="width: 10vw">
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
	<div id="wrapper" class="clearfix">
		<!-- 섹터1
		============================================= -->
		<div>
			<section id="content">

				<div class="content-wrap">

					<div class="container clearfix">

						<div class="col_full">

							<div class="heading-block center nobottomborder">
								<h2>How to be a Developer</h2>
								<span>Modern Inderstrial  Revolutionist Organization</span>
							</div>

							<div class="bis"    >
							 	<h3 Align="left" ><Span Id="txtNews"></Span></h3>
							</div>



						</div><!-- #wrapper end -->
					</div>
				</div>
			</section>
		</div>
		<!-- 섹터3
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="section">
					<div class="container clearfix">

						<div class="heading-block center">
							<h2>INFO.</h2>
						</div>




						<div class="col_one_third nobottommargin">

							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="i-alt">1.</i></a>
								</div>
								<h3>Location</h3>
								<p>IT2호관&ensp; 244호</br> IT2호관&ensp; NT로보플라자</p>
							</div>

						</div>

						<div class="col_one_third nobottommargin">

							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="i-alt">2.</i></a>
								</div>
								<h3>Call</h3>
								<p>회장&ensp;&ensp; 010 8524 0011 </br>부회장 010 0000 0000</p>
							</div>

						</div>

						<div class="col_one_third nobottommargin col_last">

							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<a href="#"><i class="i-alt">3.</i></a>
								</div>
								<h3>SNS</h3>
								<p>KakaoID&ensp;  Miro2018</p>
							</div>

						</div>

					</div>
				</div>
				<section id="google-map" class="gmap header-stick" style="margin-bottom: 20px;"></section>
			</div>
		</section><!-- #content end -->










	</div>

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->

	<script type="text/javascript" src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

	<script type="text/javascript">
		var tpj=jQuery;

		var revapi4;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_4_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_4_1");
			}else{
				revapi4 = tpj("#rev_slider_4_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"include/rs-plugin/js/",
					sliderLayout:"fullwidth",
					dottedOverlay:"none",
					delay:9000,
					navigation: {
						keyboardNavigation:"off",
						keyboard_direction: "horizontal",
						mouseScrollNavigation:"off",
						 mouseScrollReverse:"default",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "horizontal",
							drag_block_vertical: false
						}
						,
						arrows: {
							style:"metis",
							enable:true,
							hide_onmobile:true,
							hide_under:768,
							hide_onleave:false,
							tmp:'',
							left: {
								h_align:"left",
								v_align:"center",
								h_offset:0,
								v_offset:0
							},
							right: {
								h_align:"right",
								v_align:"center",
								h_offset:0,
								v_offset:0
							}
						}
					},
					responsiveLevels:[1240,1024,778,480],
					visibilityLevels:[1240,1024,778,480],
					gridwidth:[1400,1200,1000,480],
					gridheight:[1000,900,700,700],
					lazyType:"single",
					parallax: {
						type:"3D",
						origo:"slidercenter",
						speed:400,
						levels:[5,10,15,20,25,30,35,40,-5,-10,-15,-20,-25,-30,-35,55],
						type:"3D",
						ddd_shadow:"off",
						ddd_bgfreeze:"off",
						ddd_overflow:"visible",
						ddd_layer_overflow:"visible",
						ddd_z_correction:65,
						disable_onmobile:"on"
					},
					spinner:"off",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/
	</script>


</body>
</html>
