<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />


	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />

	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
  <link rel="stylesheet" href="/css/custom.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<script>
		 function initMap() {
			 var uluru = {lat: 35.887694, lng: 128.611648};
			 var map = new google.maps.Map(document.getElementById('map'), {
				 zoom: 17,
				 center: uluru
			 });

			 var marker = new google.maps.Marker({
				 position: uluru,
				 map: map,
				 title : "244호 miro"
			 });

		 }

	 </script>
	 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKCZzr3DfzgWIWp9lQlGrQRetXVuoOy8k&callback=initMap">
	 </script>
	 <link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<!-- Document Title
	============================================= -->
	<title>Home - Full Screen Image | Canvas</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->


		<section  class=" full-screen" >




				<section id="page-title">

					<div class="container clearfix">
								<h1>Info.</h1>
						<span></span>
						<ol class="breadcrumb">
							<li><a href="http://see.knu.ac.kr/mobile/" target="_blank">전자공학부</a></li>
							<li class="active">경북대학교</li>

						</ol>
					</div>

				</section>
				<section id="map" class="gmap slider-parallax need"></section>

				<div class="row clear-bottommargin">
									<div  data-animate="bounceIn" style="animation-delay: 1s;">
										<div class="col-md-3 col-sm-6 bottommargin clearfix">
											<div class="feature-box fbox-center fbox-bg fbox-plain">
												<div class="fbox-icon">
													<a ><i class="icon-map-marker2"></i></a>
												</div>
												<h3>Location<span class="subtitle">IT2호관, 244호</span></h3>
											</div>
										</div>
									</div>



 									<div  data-animate="bounceIn" style="animation-delay: 1.2s;">
										<div class="col-md-3 col-sm-6 bottommargin clearfix">
											<div class="feature-box fbox-center fbox-bg fbox-plain">
												<div class="fbox-icon">
													<a ><i class="icon-phone3"></i></a>
												</div>
												<h3>Call<span class="subtitle" style="font-size: 16px;">(010) 8524 0011 <br/>
												&ensp;&ensp;&ensp;&ensp;6207 7569</span></h3>
											</div>
										</div>
									</div>



									<div data-animate="bounceIn" style="animation-delay: 1.4s;">
										<div class="col-md-3 col-sm-6 bottommargin clearfix">
											<div class="feature-box fbox-center fbox-bg fbox-plain">
												<div class="fbox-icon">
													<a ><i class="icon-skype2"></i></a>
												</div>
												<h3>Plus Friend<span class="subtitle">KakaoID : miro2018</span></h3>
											</div>
										</div>


									<div class="container clearfix">
											<li class="icon-ok-sign">&ensp;Call</li>
											<span></span>
										</br>
											<ol class="breadcrumb">
												<li class="ma">(010) 8524 0011</li>
												<li class="ma">6207 7569</li>




									</div>
								</div>
											</br>

								  <div  data-animate="bounceIn" style="animation-delay: 1.2s;">
										<div class="container clearfix" >
											<li class="icon-ok-sign">&ensp;Location</li>
											<span></span>
										</br>
											<ol class="breadcrumb">
												<li class="ma">경북대학교 </li>
												<li class="ma">IT2호관 244호</li>

											</ol>
											</div>
										</div>
										</br>
										 <div  data-animate="bounceIn" style="animation-delay: 1.4s;">
											<div class="container clearfix" >
												<li class="icon-ok-sign">&ensp;Social</li>
												<span></span>
											</br>
												<ol class="breadcrumb">
													<li class="ma">KakaoID</li>
													<li class="ma">miro2018</li>

												</ol>
												</div>
											</div>
									</div>

			</div>
		</section>

		<!-- Footer
		============================================= -->


	</div><!-- #wrapper end -->


	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="/js/functions.js"></script>


</body>
</html>
