<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="SemiColonWeb" />

		<!-- Stylesheets
		============================================= -->
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/css/dark.css" type="text/css" />
		<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
		<link rel="stylesheet" href="/css/animate.css" type="text/css" />
		<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
	  <link rel="stylesheet" href="/css/custom.css" type="text/css" />
		<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Document Title
		============================================= -->
		<title>Home - Full Screen Image | Canvas</title>

	<script Language="JavaScript">
	<!--
	var mess=new Array();  //메세지 순서대로 입력

	mess[0]="당신과 지나는 미로.";
	mess[1]="당신과 지나는 美路.";

	var count=0;
	var newsno=0;

	function startnews()
	{
	        document.getElementById("txtNews").innerText=mess[newsno].substring(0,count++);
	        if(count>=mess[newsno].length)
	        {
	                count=0;
	                newsno++;


	        }

	        setTimeout("startnews()",300);  // 속도
	}

	</Script>
</head>



	<body class="stretched" onLoad="startnews()">





	<div class="img mirosearchb">
	  <img src="/images/miro-searchform2.png" alt="Norway" style="width:100%;">


   <div class="c"><h3 Align="Center"><Span Id="txtNews"></Span></h3></div>

	</div>








		<!-- External JavaScripts
		============================================= -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/plugins.js"></script>

		<!-- Footer Scripts
		============================================= -->
		<script type="text/javascript" src="js/functions.js"></script>


</body>
</html>
